.homedashheader{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;  
    background-color:black;
    color: white;
    height: 60px;
    width:100%;
    align-items: center;
    font-family: sans-serif;

}
