.main-login{
    width:100%;
    height:100vh;
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form{
    width:24%;
    height:64vh;
    /* box-shadow: 0px 0px 0px 1px black; */
    padding: 50px 40px;
    border: 1px solid rgb(192, 191, 191);
}
/* css-md26zr-MuiInputBase-root-MuiOutlinedInput-root */
.loginField .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root{
    border-radius: 25px !important;
}
.loginField .css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root{
    color: white;
    border-radius: 25px;
    background-color: #1c213e;
    height: 47px;
    border: none;

}
.loginField .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:focus {
    outline: none; /* Remove default focus outline */
    /* Add any additional styles you want for the focused state */
}
.loginField .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    color: white;
    border-radius: 25px;
    background-color: #1c213e;
    height: 14px;
    border: none;
}
.logInLogo{
    margin-bottom: 40px;
    margin-top: 20px;
}
.forgotpassword.MuiTypography-root.MuiLink-root {
    text-decoration: none !important;
    font-size: small !important;
    margin-bottom: 40px !important;
}
.loginBtn.css-1fu7jd5-MuiButtonBase-root-MuiButton-root {
    border-radius: 25px !important;
    background-color: black;
    font-weight: 600;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}
input::-ms-reveal,
input::-ms-clear {
    display: none;
}

/* #96979f */

.css-1iledgx-MuiFormControl-root{
    background-color: #1c213e;
    height: 45px;
}
