.main-login{
    width:100%;
    height:100vh;
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form{
    width:30%;
    min-width: 320px;
    
    /* box-shadow: 0px 0px 0px 1px black; */
    padding: 50px 40px  20px 40px;
    border: 1px solid rgb(192, 191, 191);
}
.signup-form{
    width:30%;
    min-width: 320px;
    
    /* box-shadow: 0px 0px 0px 1px black; */
 padding-bottom: 0;
 padding-left:50px ;
 padding-right: 50px;
 padding-top: 10px;
    border: 1px solid rgb(192, 191, 191);
}
/* css-md26zr-MuiInputBase-root-MuiOutlinedInput-root */
.loginField .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root{
    border-radius: 25px !important;
}

.loginField .css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root{
    color: white;
    border-radius: 25px;
    background-color: #1c213e;
    height: 47px;
    border: none !important;

}
.loginField input{
    height: 14px;
    border: none !important;
}

.loginField .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:focus {
    outline: none; /* Remove default focus outline */
    /* Add any additional styles you want for the focused state */
}
.loginField .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    color: white;
    border-radius: 25px;
    background-color: #1c213e;
    height: 14px;
    border: none !important;
}
.logInLogo{
    margin-bottom: 32px;
    margin-top: 20px;
}
.forgotpassword.MuiTypography-root.MuiLink-root {
    text-decoration: none !important;
    font-size: small !important;
    margin-bottom: 40px !important;
}
.loginBtn.css-1fu7jd5-MuiButtonBase-root-MuiButton-root {
    border-radius: 25px !important;
    background-color: black;
    color: white !important;
    font-weight: 600;
    height: 40px;
}
.loginBtn.css-1fu7jd5-MuiButtonBase-root-MuiButton-root:hover {
   
    background-color: black;
   
  
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}
input::-ms-reveal,
input::-ms-clear {
    display: none;
}

/* #96979f */

.css-1iledgx-MuiFormControl-root{
    background-color: #1c213e;
    height: 45px;
}

.recaptacha{
    background-color: #1c213e;
    height: 47px;
    width: 353px;
    border-radius: 25px;
    margin-top: -20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: #1c213e;
    -webkit-text-fill-color: #ffffff;
background-color: #1c213e; 
   box-shadow: inset 0 0 70px 70px #1c213e;
}
  

