* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container {
    display: flex;
}

main {
    width: 100%;
}


#toggle-menu-circle {
    display: none;
    transition: display 0.2s ease-in;
}
.sidebar-wraper {
    height: calc(100vh - 70px);
    padding: 0px 12px ;
    background-color: black;
}

.sidebar-container:hover #toggle-menu-circle {
    display: flex;
    cursor: pointer;
}

.top_section {
    color: white;
    display: flex;
    align-items: center;
    padding: 0px 36px 0px 15px;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: black !important;
    font-size: 18px;
    font-weight: bold;
}

.logo {
    width: 100%;
    height: 90px;
    background-size: cover;
}

.bars {
    font-size: 25px;
    margin-left: 30px;
    display: flex;
}

.link_text {
    font-size: 12px;
    font-family: sans-serif;
}

.link {
    
    display: flex;
    align-items: center;
    color: black;
    font-family: sans-serif;
    padding: 6px 8px;
    gap: 6px;
    overflow: hidden;
    cursor: pointer;
    height: 32px;
    margin: 4px 0;
    border-radius: 6px;

}
.link:hover {
    background-color: #6b61616a;

}

.link:active {
    transform: scale(0.9999);
}

.active {
    color: #F05B28;
}

.link p {
    color: white;
  
}

.Login_Info {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    gap: 10px;
}