*{
  margin: 0;
  padding: 0;
  text-decoration: none;
 
}
.rc-anchor-light {
  background: #ff0000;
  color: #000;
}

.css-1fu7jd5-MuiButtonBase-root-MuiButton-root:hover{
  background-color: black;
}